.overlay-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(3, 8, 31, 0.4);
}


@media (max-width: 768px) {
  .overlay-content {
    padding: 2rem;
    text-align: center;
  }
  .tag-msg{
    display: none;
  }
}
